@import "styles/default.scss";

#drops {
  width: 100%;
  display: flex;
  flex-direction: column;

  .collection {
    .drop-item {
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      text-align: left;

      img {
        width: 190px;
        height: 160px;
        border-radius: 10px;
        object-fit: cover;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
      }

      .info-container {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: left;

        h2 {
          font-size: 24px;
          font-weight: 700;
          margin: 0;
        }

        h4 {
          font-size: 14px;
        }

        .alt {
          color: $placeholder;
        }

        p {
          font-weight: 500;
          color: $placeholder;
        }

        .button-alt {
          width: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: $small) {
  #drops {
    .collection {
      .drop-item {
        flex-direction: column;

        img {
          width: 100%;
          flex: 1;
        }

        .info-container {
          flex: 1;
          margin: 10px;
        }
      }

      .button-alt {
        margin: auto;
      }
    }
  }
}
